<a href="https://colab.research.google.com/github/hungry4therock/Colab/blob/main/6_%EC%84%9C%ED%8F%AC%ED%8A%B8_%EB%B2%A1%ED%84%B0_%EB%A8%B8%EC%8B%A0_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
"""
내용: 서포트 벡터 머신 실습하기
"""
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn import svm, metrics
from sklearn.model_selection import train_test_split
from google.colab import drive

In [5]:
 # 데이터 불러오기
df_iris = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/file/iris.csv')
df_iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [8]:
#학습데이터
iris_data = df_iris[['sepal.length', 'sepal.width', 'petal.length', 'petal.width']]
iris_label = df_iris['variety']

train_data, test_data, train_label, test_label = train_test_split(iris_data, iris_label)

In [7]:
test_label

18         Setosa
9          Setosa
119     Virginica
136     Virginica
139     Virginica
40         Setosa
140     Virginica
127     Virginica
70     Versicolor
123     Virginica
100     Virginica
15         Setosa
125     Virginica
118     Virginica
142     Virginica
50     Versicolor
75     Versicolor
90     Versicolor
63     Versicolor
116     Virginica
59     Versicolor
108     Virginica
68     Versicolor
114     Virginica
113     Virginica
115     Virginica
33         Setosa
47         Setosa
80     Versicolor
69     Versicolor
57     Versicolor
110     Virginica
135     Virginica
8          Setosa
73     Versicolor
111     Virginica
16         Setosa
31         Setosa
Name: variety, dtype: object

In [9]:
# 학습하기
model = svm.SVC()
#model = LogisticRegression()
model.fit(train_data, train_label)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [10]:
#테스트하기
result = model.predict(test_data)
result

array(['Setosa', 'Versicolor', 'Virginica', 'Versicolor', 'Setosa',
       'Virginica', 'Versicolor', 'Virginica', 'Setosa', 'Virginica',
       'Virginica', 'Versicolor', 'Versicolor', 'Setosa', 'Versicolor',
       'Setosa', 'Virginica', 'Setosa', 'Versicolor', 'Setosa',
       'Versicolor', 'Versicolor', 'Versicolor', 'Setosa', 'Virginica',
       'Virginica', 'Setosa', 'Virginica', 'Versicolor', 'Virginica',
       'Versicolor', 'Virginica', 'Setosa', 'Setosa', 'Virginica',
       'Versicolor', 'Versicolor', 'Versicolor'], dtype=object)

In [11]:
# 성능평가(학습률)
score = metrics.accuracy_score(result, test_label)
score

0.8947368421052632